.abajo {
    width: 500px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(181, 218, 218);
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0%);
    border-radius:1cqmax;
}

img {
    transform: translateX(0%);
}

footer {
    background-color:grey;
    padding: 2%;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(10%);
}

.arriba {
    width: 550px;
    height: 350px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(181, 218, 218);
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0%);
    border-radius:1cqmax;
}

.checkboxes {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(15%);
}

body {
    background-color: #dddddd;
    background-size: cover;

}